@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Happy+Monkey&family=Playpen+Sans:wght@100..800&display=swap');


body {
  /* border: 3px solid orange; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2';
  color: white;
  background-color: black;
}

#gameContainer {
  border: 1px solid black;
  border-radius: 92px;
  height: 92vh;
  width: 90vw;
  display: block;
}

#name {
  /* border: 1px solid green; */
  border-radius: 92px;
  height: 12vh;
  width: 84vw;
  margin-left: 40px;
  margin-top: 16px;
  text-align: center;
}
h1 {
  font-size: 28px;
}

#progressBar {
  /* border: 1px solid blue; */
  border-radius: 92px;
  height: 8vh;
  width: 84vw;
  margin-top: 36px;
  margin-left: 40px;
  display: flex;
  justify-content: space-evenly;
}
.icon {
  /* border: 1px solid pink; */
  border-radius: 52px;
  width: 8vw;
  height: 8vh;
  margin: 0px 48px;
}
.icon img {
  height: 12vh;
  width: 6vw;
  margin-left: 12px;
  border-radius: 40px;
  /*   
    border: 2px solid red; */
}

button {
  border:1px solid rgb(106, 62, 122);
  border-radius: 16px;
  height: 44px;
  width:80px;
  margin-top: 24px;
  padding:6px;
  color :black;
  font-weight:bold;
  text-shadow: 1px 1px 1.6px rgb(68, 122, 161) ;
  text-align: center;
  text-align: center;
  background: linear-gradient(to right, rgb(97, 96, 187), rgb(128, 0, 128));
}

#cardBox {
  /* border: 1px solid red; */
  border-radius: 92px;
  height: 56vh;
  width: 84vw;
  margin-top: 36px;
  margin-left: 38px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  /* border: 1px solid rgb(143, 17, 13); */
  border-radius: 52px;
  width: 12vw;
  height: 32vh;
  margin: 28px;
  margin-left: 36px;
  position: relative; /* relative  to the container*/
}

.card img {
  border-radius: 12px;
  height: 24vh;
  width: 10vw;
  margin-left: 12px;
position:absolute;


  /* border: 2px solid red; */
}
.card img:hover {
  border: 2px solid white;
}

.cardFlip{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;/**/
}
.card.flipped .cardFlip {
  transform: rotateY(180deg); /* this gives the flip effect*/
}
.cardOuter, .cardInner {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* shows whether the back of the card shows or not*/ 
  border-radius: 12px;
}

.cardInner {
  transform: rotateY(180deg);
}

